.item-add-form {
  margin-top: 10px;
}
.bottom-panel {
  margin-top: 10px;
}
.item-add-form input {
  margin-right: 5px;
}
.bottom-panel .new-todo-label {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}
